html{overflow-x:hidden}
body, ul {margin: 0;padding: 0;}

body,html{height: 100%;}

ul li {list-style-type: none;}

.body{margin-top: 0px;background-repeat: no-repeat;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;}
section{position: relative}

.web-title{float:left; margin-left: 0; padding: 20px; z-index: 100;}
.web-title a{font-family: Times New Roman; font-size: 25px; letter-spacing: 1px;text-decoration: none;
             color: black;}

/*navi*/
.navbar {width: 100%;display: block;top: 0;left: 0;position: absolute;z-index: 100;}
.nav-container {max-width: 90%;height: 100%;position: relative;display: block;margin-left: auto;margin-right: auto;}
.nav-item {display: block;float: right;margin-right: 0;padding: 0;margin: 0px;}
.nav-container ul{padding: 0;margin: 0;list-style-type: none;}
.nav-container li{float: left;position :relative; }
.nav-container ul li a,.nav-container ul li a:visited {
display: block;
text-align: center;
text-decoration: none;
width: 130px;
height: 64px;
color: #2c2c2c;
border-width: 1px 1px 0 0;
line-height: 64px;
font-size: 12px;
font-family: helvetica;
letter-spacing: 1px;
}

.nav-container ul li:hover a {color: black;}
.nav-container ul li ul {display: none;}
.nav-container ul li:hover ul {display: block;position: absolute;top: 50px;left: 0;width: 130px;background-color:white;z-index: 200;}
.nav-container ul li:hover ul li a {display: block;color: grey;font-size: 12px; height: 20px; margin-top: 10px; font-weight: lighter;font-style: italic;line-height: 10px;}
.nav-container ul li:hover ul li a:hover {color: black;}

.navbar-toggle{display: none;}

/*about*/
.about-container{position:absolute; right:100px; margin-top: 90px; width:890px;text-align: right; z-index: 50;}
.about-title{font-family: Helvetica;}
.identity{font-family: Times New Roman;margin-top: 0px;font-size: 14px;}
.intro{font-family: Times New Roman; font-size: 12px;margin-top: 30px;}
.italic{font-style: italic;}
.profile-img{width:570px; margin-top: 40px;}
.copyright{color: #8c8c8c}


/*slideshowimg*/
.show{max-width: 1440px; margin: 0 auto;}
.show-img{padding-top: 80px; width: 100%;}
.show-title{margin-top: 20px;}
.show-title p{margin: 0 auto;text-align: center;font-family: Helvetica; font-weight: lighter; font-size: 12px;font-style: italic;color: #b4b4b4}
.show-text{max-width: 1020px; margin: 0 auto;padding-top: 10px;}
.show-text p{text-align: justify;font-size: 14px; font-family: Helvetica; color: #454545}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  margin: 0 auto;
}

.mySlides {
    display: none;
}

.slide-img{width: 100%; padding-top: 80px; margin: 0;}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top:50%;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  color: black;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 0px 0px 0px;
  text-decoration: none;
}

.prev{left:0;}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0px 0 0 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.3);
}



.show{max-width: 1440px;}
.show-img{width: 100%;}


/* Next & previous buttons */
.show-prev, .show-next {
  cursor: pointer;
  position: absolute;
  top:50%;
  width: auto;
  margin-top: -22px;
  color: blue;
  padding: 20px;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 0px 0px 0px;

}

/* Position the "next button" to the right */
.show-next {
  right: 0;
  border-radius: 0px 0 0 0px;
}

/* On hover, add a black background color with a little bit see-through */
.show-prev:hover, .show-next:hover {
  background-color: rgba(0,0,0,0.3);
}
